ScheduleSystem/ScheduleCommon/Web References/JourneyCarWS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginV4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginV4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginV4Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleStatusList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ws_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleStatusListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleStatusListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleEventList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ws_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date_frm" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleEventListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleEventListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleStatusListV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleStatusListV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleStatusListV3Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataV4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataV4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataV4Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachSuKienByMaxId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="trackId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachSuKienByMaxIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachSuKienByMaxIdResult" type="tns:ArrayOfDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataSet" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="DanhSachSuKienByMaxIdMultiSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="trackId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webSite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachSuKienByMaxIdMultiSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachSuKienByMaxIdMultiSiteResult" type="tns:ArrayOfDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusLogChuyen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusLogChuyenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateStatusLogChuyenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login_user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestIPClient">
        <s:complexType />
      </s:element>
      <s:element name="TestIPClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestIPClientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginV4SoapIn">
    <wsdl:part name="parameters" element="tns:CheckLoginV4" />
  </wsdl:message>
  <wsdl:message name="CheckLoginV4SoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginV4Response" />
  </wsdl:message>
  <wsdl:message name="GetVehicleStatusListSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleStatusList" />
  </wsdl:message>
  <wsdl:message name="GetVehicleStatusListSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleEventListSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleEventList" />
  </wsdl:message>
  <wsdl:message name="GetVehicleEventListSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleEventListResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleStatusListV3SoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleStatusListV3" />
  </wsdl:message>
  <wsdl:message name="GetVehicleStatusListV3SoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleStatusListV3Response" />
  </wsdl:message>
  <wsdl:message name="GetDataV4SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataV4" />
  </wsdl:message>
  <wsdl:message name="GetDataV4SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataV4Response" />
  </wsdl:message>
  <wsdl:message name="DanhSachSuKienByMaxIdSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachSuKienByMaxId" />
  </wsdl:message>
  <wsdl:message name="DanhSachSuKienByMaxIdSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachSuKienByMaxIdResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachSuKienByMaxIdMultiSiteSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachSuKienByMaxIdMultiSite" />
  </wsdl:message>
  <wsdl:message name="DanhSachSuKienByMaxIdMultiSiteSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachSuKienByMaxIdMultiSiteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusLogChuyenSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStatusLogChuyen" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusLogChuyenSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStatusLogChuyenResponse" />
  </wsdl:message>
  <wsdl:message name="TestSessionSoapIn">
    <wsdl:part name="parameters" element="tns:TestSession" />
  </wsdl:message>
  <wsdl:message name="TestSessionSoapOut">
    <wsdl:part name="parameters" element="tns:TestSessionResponse" />
  </wsdl:message>
  <wsdl:message name="TestIPClientSoapIn">
    <wsdl:part name="parameters" element="tns:TestIPClient" />
  </wsdl:message>
  <wsdl:message name="TestIPClientSoapOut">
    <wsdl:part name="parameters" element="tns:TestIPClientResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoginV4">
      <wsdl:input message="tns:CheckLoginV4SoapIn" />
      <wsdl:output message="tns:CheckLoginV4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleStatusList">
      <wsdl:input message="tns:GetVehicleStatusListSoapIn" />
      <wsdl:output message="tns:GetVehicleStatusListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleEventList">
      <wsdl:input message="tns:GetVehicleEventListSoapIn" />
      <wsdl:output message="tns:GetVehicleEventListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleStatusListV3">
      <wsdl:input message="tns:GetVehicleStatusListV3SoapIn" />
      <wsdl:output message="tns:GetVehicleStatusListV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataV4">
      <wsdl:input message="tns:GetDataV4SoapIn" />
      <wsdl:output message="tns:GetDataV4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachSuKienByMaxId">
      <wsdl:input message="tns:DanhSachSuKienByMaxIdSoapIn" />
      <wsdl:output message="tns:DanhSachSuKienByMaxIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachSuKienByMaxIdMultiSite">
      <wsdl:input message="tns:DanhSachSuKienByMaxIdMultiSiteSoapIn" />
      <wsdl:output message="tns:DanhSachSuKienByMaxIdMultiSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusLogChuyen">
      <wsdl:input message="tns:UpdateStatusLogChuyenSoapIn" />
      <wsdl:output message="tns:UpdateStatusLogChuyenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <wsdl:input message="tns:TestSessionSoapIn" />
      <wsdl:output message="tns:TestSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestIPClient">
      <wsdl:input message="tns:TestIPClientSoapIn" />
      <wsdl:output message="tns:TestIPClientSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginV4">
      <soap:operation soapAction="http://tempuri.org/CheckLoginV4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleStatusList">
      <soap:operation soapAction="http://tempuri.org/GetVehicleStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleEventList">
      <soap:operation soapAction="http://tempuri.org/GetVehicleEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleStatusListV3">
      <soap:operation soapAction="http://tempuri.org/GetVehicleStatusListV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataV4">
      <soap:operation soapAction="http://tempuri.org/GetDataV4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachSuKienByMaxId">
      <soap:operation soapAction="http://tempuri.org/DanhSachSuKienByMaxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachSuKienByMaxIdMultiSite">
      <soap:operation soapAction="http://tempuri.org/DanhSachSuKienByMaxIdMultiSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusLogChuyen">
      <soap:operation soapAction="http://tempuri.org/UpdateStatusLogChuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <soap:operation soapAction="http://tempuri.org/TestSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestIPClient">
      <soap:operation soapAction="http://tempuri.org/TestIPClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginV4">
      <soap12:operation soapAction="http://tempuri.org/CheckLoginV4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleStatusList">
      <soap12:operation soapAction="http://tempuri.org/GetVehicleStatusList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleEventList">
      <soap12:operation soapAction="http://tempuri.org/GetVehicleEventList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleStatusListV3">
      <soap12:operation soapAction="http://tempuri.org/GetVehicleStatusListV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataV4">
      <soap12:operation soapAction="http://tempuri.org/GetDataV4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachSuKienByMaxId">
      <soap12:operation soapAction="http://tempuri.org/DanhSachSuKienByMaxId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachSuKienByMaxIdMultiSite">
      <soap12:operation soapAction="http://tempuri.org/DanhSachSuKienByMaxIdMultiSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusLogChuyen">
      <soap12:operation soapAction="http://tempuri.org/UpdateStatusLogChuyen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <soap12:operation soapAction="http://tempuri.org/TestSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestIPClient">
      <soap12:operation soapAction="http://tempuri.org/TestIPClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://service-multi.quanlyoto.vn:8068/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://service-multi.quanlyoto.vn:8068/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>